@font-face {
	font-family: 'Roboto-Slab';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Slab Medium'), local('Roboto-Slab-Medium'), url('../fonts/Roboto-Slab-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	vertical-align: top;
	text-transform: none!important;
}

* {
	user-select: none;
	text-rendering: optimizeLegibility;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
	font-weight: 400;
	color: #001d1d;
    line-height: 1.5;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	position: fixed;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

audio {
	width: 100%;
}

video,
img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

ol {
    list-style: decimal inside;
}

ul {
    list-style: disc inside;
}

button {
	outline: 0;
	appearance: none;
    -webkit-appearance: none;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
}

.ascenseur {
	scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
	scrollbar-width: thin;
}

[v-cloak] {
	display: none;
}

#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* Header et navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    text-align: left;
    background: #242f3d;
    color: #fff;
    height: 4rem;
    width: 100%;
    padding: 0;
    z-index: 100;
    position: relative;
}

#titre {
	font-family: 'Roboto-Slab';
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 4rem;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    text-align: left;
    display: block;
}

#titre::before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}

/* Modale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.conteneur-modale {
	position: fixed;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
    background: #fff;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale .en-tete {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale .en-tete .titre {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	text-transform: uppercase;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modale .en-tete .fermer {
	vertical-align: top;
	cursor: pointer;
	font-size: 24px;
	margin-right: 15px;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
}

.modale .contenu {
	width: 100%;
}

/* Tooltip
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info {
	position: relative;
	display: inline-block!important;
	font-size: 2.2rem;
    vertical-align: middle;
    margin-left: 0.5rem;
    color: #fdc00b;
	line-height: 1;
	cursor: help;
}

.info:before {
	visibility: hidden;
	font-size: 1.1rem;
	line-height: 1.25;
	content: attr(data-description);
	display: block;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 1rem;
	position: absolute;
	left: 50%;
	bottom: 3.5rem;
	margin-left: -8rem;
	width: 16rem;
	border-radius: 0.3rem;
	opacity: 0;
	text-align: center;
	transition: 0.2s ease-in-out;
}

.info:after {
	visibility: hidden;
	content: '';
	display: block;
	position: absolute;
	bottom: 2.7rem;
	left: 50%;
	margin-left: -0.8rem;
	height: 0;
	width: 0;
	border-left: 0.8rem solid transparent;
	border-right: 0.8rem solid transparent;
	border-top: 0.8rem solid rgba(0, 0, 0, 0.75);
	transition: 0.2s ease-in-out;
	opacity: 0;
}

.info:focus:before,
.info:active:before {
	visibility: visible;
	opacity: 1;
	bottom: 3rem;
}

.info:focus:after,
.info:active:after {
	visibility: visible;
	opacity: 1;
	bottom: 2.2rem;
}

/* Chargement
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#conteneur-chargement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
}

#chargement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.spinner {
	display: inline-block;
	position: relative;
	width: 8rem;
	height: 8rem;
}

.spinner div {
	transform-origin: 4rem 4rem;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 0.3rem;
	left: 3.7rem;
	width: 0.5rem;
    height: 2.5rem;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 767px) {
	html {
        font-size: 56.5%;
	}
}

@media screen and (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

/* Pad
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#blocs .bloc .titre span,
#blocs .bloc .texte,
#blocs .bloc .texte *,
.commentaires li .texte,
.commentaires li .texte * {
	user-select: text!important;
	-webkit-user-select: text!important;
	-webkit-touch-callout: default!important;
	word-break: break-word;
}

.commentaires li .texte a,
#blocs .bloc .texte a {
	color: #00a1e3;
	text-decoration: underline;
}

/* CSS Print
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media print {
	html,
	body,
	#app,
	#page {
		height: auto!important;
	}

	body {
		position: relative!important;
		overflow: auto!important;
	}

	#blocs.mur > div {
		width: 100%!important;
	}

	#blocs.mur {
		display: block!important;
	}
}
