<div id="page" :class="pad.affichage">
	<header :class="{'pleine-largeur': pad.listeUtilisateurs && pad.listeUtilisateurs === 'desactivee'}">
		<span id="conteneur-logo">
			<span id="logo" />
		</span>
		<span id="titre" v-if="!recherche">{{ pad.titre }}</span>
		<div id="conteneur-header-droit" role="button" :tabindex="definirTabIndex()" :title="$t('utilisateursConnectes')" @click="afficherUtilisateurs" @keydown.enter="afficherUtilisateurs" v-if="!pad.listeUtilisateurs || (pad.listeUtilisateurs && pad.listeUtilisateurs === 'activee')">
			<i class="material-icons">people_alt</i>
			<span class="badge">{{ utilisateurs.length }}</span>
		</div>
	</header>

	<div id="champ-recherche" v-if="recherche">
		<input type="text" maxlength="48" :placeholder="$t('rechercherCapsules')" @input="requete = $event.target.value">
		<span role="button" :tabindex="definirTabIndex()" @click="recherche = false" @keydown.enter="recherche = false"><i class="material-icons">close</i></span>
	</div>

	<nav id="nav">
		<span id="compte" role="button" :tabindex="definirTabIndex()" :title="$t('compteUtilisateur')" @click="allerCompte" @keydown.enter="allerCompte" v-if="statut === 'utilisateur'"><i class="material-icons">arrow_back</i></span>
		<span id="accueil" role="button" :tabindex="definirTabIndex()" :title="$t('accueil')" @click="allerAccueil" @keydown.enter="allerAccueil" v-else><i class="material-icons">home</i></span>
		<span id="recherche" role="button" :tabindex="definirTabIndex()" :class="{'active': recherche, 'desactive': action === 'organiser'}" :title="$t('recherche')" @click="gererRecherche" @keydown.enter="gererRecherche"><i class="material-icons">search</i></span>
		<span id="activite" role="button" :tabindex="definirTabIndex()" :title="$t('activitePad')" @click="afficherActivite" @keydown.enter="afficherActivite" v-if="accesAutorise && (!pad.registreActivite || (pad.registreActivite && pad.registreActivite === 'active'))"><i class="material-icons">schedule</i></span>
		<span id="chat" role="button" :tabindex="definirTabIndex()" :title="$t('conversation')" @click="afficherChat" @keydown.enter="afficherChat" v-if="accesAutorise && (!pad.conversation || (pad.conversation && pad.conversation === 'activee'))">
			<i class="material-icons">chat</i>
			<span class="badge" v-if="nouveauxMessagesChat > 0">{{ nouveauxMessagesChat }}</span>
		</span>
		<span id="motdepasse" role="button" :tabindex="definirTabIndex()" :title="$t('motDePassePad')" @click="afficherModaleMotDePasse" @keydown.enter="afficherModaleMotDePasse" v-if="pad.hasOwnProperty('motdepasse') && !admin && statut !== 'utilisateur'"><i class="material-icons">vpn_key</i></span>
		<span id="options" role="button" :tabindex="definirTabIndex()" :title="$t('parametresPad')" @click="afficherOptions" @keydown.enter="afficherOptions" v-if="admin"><i class="material-icons">settings</i></span>
		<span id="options" role="button" :tabindex="definirTabIndex()" :title="$t('parametresPad')" @click="afficherOptions" @keydown.enter="afficherOptions" v-else-if="!admin && statut !== 'utilisateur'"><i class="material-icons">language</i></span>
		<span id="organisation" role="button" :tabindex="definirTabIndex()" :class="{'desactive': definirClasseOrganiser() === false}" :title="$t('modeOrganiser')" @click="activerModeOrganiser" @keydown.enter="activerModeOrganiser" v-if="admin && action !== 'organiser'"><i class="material-icons">sort</i></span>
		<span id="organisation" class="actif" role="button" :tabindex="definirTabIndex()" :title="$t('finModeOrganiser')" @click="desactiverModeOrganiser" @keydown.enter="desactiverModeOrganiser" v-else-if="admin && action === 'organiser'"><i class="material-icons">sort</i></span>
		<span id="diaporama" role="button" :tabindex="definirTabIndex()" :class="{'desactive': blocs.length === 0}" :title="$t('modeDiaporama')" @click="afficherModaleDiaporama" @keydown.enter="afficherModaleDiaporama"><i class="material-icons">slideshow</i></span>
		<span id="deconnexion" role="button" :tabindex="definirTabIndex()" :title="$t('deconnexion')" @click="deconnexion" @keydown.enter="deconnexion" v-if="statut === 'utilisateur'"><i class="material-icons">power_settings_new</i></span>
		<span id="deconnexion" role="button" :tabindex="definirTabIndex()" :title="$t('seDeconnecterPad')" @click="afficherSeDeconnecterPad" @keydown.enter="afficherSeDeconnecterPad" v-else-if="admin"><i class="material-icons">power_settings_new</i></span>
	</nav>

	<div id="menu-activite" class="menu gauche" role="menu" v-if="menu === 'activite' && pad.registreActivite === 'active'">
		<div class="en-tete">
			<span class="titre">{{ $t('activitePad') }}</span>
			<span class="action">
				<span class="reinitialiser" role="button" :tabindex="definirTabIndex()" :title="$t('reinitialiserActivite')" @click="afficherReinitialiserActivite" @keydown.enter="afficherReinitialiserActivite" v-if="admin && activite.length > 0"><i class="material-icons">autorenew</i></span>
				<span class="fermer" role="button" :tabindex="definirTabIndex()" @click="fermerMenu" @keydown.enter="fermerMenu"><i class="material-icons">close</i></span>
			</span>
		</div>
		<div class="contenu ascenseur" tabindex="-1">
			<ul id="entrees">
				<template v-for="(entree, indexEntree) in activite">
					<li v-if="entree.type === 'bloc-ajoute'" :data-bloc="entree.bloc" :key="'bloc-ajoute_' + indexEntree">
						<div class="conteneur-entree"><span :style="{'color': entree.couleur}"> {{ definirNom(entree) }}</span> <span v-if="entree.titre !== ''" v-html="$t('aCreeCapsule', { titre: entree.titre })" /><span v-else v-html="$t('aCreeUneCapsule')" /> {{ $formaterDateRelative(entree.date, langue) }}.</div>
						<div class="menu-entree" v-if="admin">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEntree')" @click="supprimerActivite(entree.id)" @keydown.enter="supprimerActivite(entree.id)"><i class="material-icons">delete</i></span>
						</div>
					</li>
					<li v-else-if="entree.type === 'bloc-supprime'" :data-bloc="entree.bloc" :key="'bloc-supprime_' + indexEntree">
						<div class="conteneur-entree"><span :style="{'color': entree.couleur}"> {{ definirNom(entree) }}</span> <span v-if="entree.titre !== ''" v-html="$t('aSupprimeCapsule', { titre: entree.titre })" /><span v-else v-html="$t('aSupprimeUneCapsule')" /> {{ $formaterDateRelative(entree.date, langue) }}.</div>
						<div class="menu-entree" v-if="admin">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEntree')" @click="supprimerActivite(entree.id)" @keydown.enter="supprimerActivite(entree.id)"><i class="material-icons">delete</i></span>
						</div>
					</li>
					<li v-else-if="entree.type === 'bloc-modifie'" :data-bloc="entree.bloc" :key="'bloc-modifie_' + indexEntree">
						<div class="conteneur-entree"><span :style="{'color': entree.couleur}"> {{ definirNom(entree) }}</span> <span v-if="entree.titre !== ''" v-html="$t('aModifieCapsule', { titre: entree.titre })" /><span v-else v-html="$t('aModifieUneCapsule')" /> {{ $formaterDateRelative(entree.date, langue) }}.</div>
						<div class="menu-entree" v-if="admin">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEntree')" @click="supprimerActivite(entree.id)" @keydown.enter="supprimerActivite(entree.id)"><i class="material-icons">delete</i></span>
						</div>
					</li>
					<li v-else-if="entree.type === 'bloc-commente'" :data-bloc="entree.bloc" :key="'bloc-commente_' + indexEntree">
						<div class="conteneur-entree"><span :style="{'color': entree.couleur}"> {{ definirNom(entree) }}</span> <span v-if="entree.titre !== ''" v-html="$t('aCommenteCapsule', { titre: entree.titre })" /><span v-else v-html="$t('aCommenteUneCapsule')" /> {{ $formaterDateRelative(entree.date, langue) }}.</div>
						<div class="menu-entree" v-if="admin">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEntree')" @click="supprimerActivite(entree.id)" @keydown.enter="supprimerActivite(entree.id)"><i class="material-icons">delete</i></span>
						</div>
					</li>
					<li v-else-if="entree.type === 'bloc-evalue'" :data-bloc="entree.bloc" :key="'bloc-evalue_' + indexEntree">
						<div class="conteneur-entree"><span :style="{'color': entree.couleur}"> {{ definirNom(entree) }}</span> <span v-if="entree.titre !== ''" v-html="$t('aEvalueCapsule', { titre: entree.titre })" /><span v-else v-html="$t('aEvalueUneCapsule')" /> {{ $formaterDateRelative(entree.date, langue) }}.</div>
						<div class="menu-entree" v-if="admin">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEntree')" @click="supprimerActivite(entree.id)" @keydown.enter="supprimerActivite(entree.id)"><i class="material-icons">delete</i></span>
						</div>
					</li>
					<li v-else-if="entree.type === 'colonne-ajoutee' && pad.affichage === 'colonnes'" :key="'colonne-ajoutee_' + indexEntree">
						<div class="conteneur-entree"><span :style="{'color': entree.couleur}"> {{ definirNom(entree) }}</span> <span v-html="$t('aAjouteColonne', { titre: entree.titre })" /> {{ $formaterDateRelative(entree.date, langue) }}.</div>
						<div class="menu-entree" v-if="admin">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEntree')" @click="supprimerActivite(entree.id)" @keydown.enter="supprimerActivite(entree.id)"><i class="material-icons">delete</i></span>
						</div>
					</li>
					<li v-else-if="entree.type === 'colonne-supprimee' && pad.affichage === 'colonnes'" :key="'colonne-supprimee_' + indexEntree">
						<div class="conteneur-entree"><span :style="{'color': entree.couleur}"> {{ definirNom(entree) }}</span> <span v-html="$t('aSupprimeColonne', { titre: entree.titre })" /> {{ $formaterDateRelative(entree.date, langue) }}.</div>
						<div class="menu-entree" v-if="admin">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEntree')" @click="supprimerActivite(entree.id)" @keydown.enter="supprimerActivite(entree.id)"><i class="material-icons">delete</i></span>
						</div>
					</li>
					<li v-else-if="entree.type === 'colonne-deplacee' && pad.affichage === 'colonnes'" :key="'colonne-deplacee_' + indexEntree">
						<div class="conteneur-entree"><span :style="{'color': entree.couleur}"> {{ definirNom(entree) }}</span> <span v-html="$t('aDeplaceColonne', { titre: entree.titre })" /> {{ $formaterDateRelative(entree.date, langue) }}.</div>
						<div class="menu-entree" v-if="admin">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEntree')" @click="supprimerActivite(entree.id)" @keydown.enter="supprimerActivite(entree.id)"><i class="material-icons">delete</i></span>
						</div>
					</li>
				</template>
			</ul>
		</div>
	</div>

	<div id="menu-conversation" class="menu gauche" role="menu" v-else-if="menu === 'chat' && pad.conversation === 'activee'">
		<div class="en-tete">
			<span class="titre">{{ $t('conversation') }}</span>
			<span class="action">
				<span class="reinitialiser" role="button" :tabindex="definirTabIndex()" @click="afficherReinitialiserMessages" @keydown.enter="afficherReinitialiserMessages" v-if="admin && messagesChat.length > 0"><i class="material-icons">autorenew</i></span>
				<span class="fermer" role="button" :tabindex="definirTabIndex()" @click="fermerMenu" @keydown.enter="fermerMenu"><i class="material-icons">close</i></span>
			</span>
		</div>
		<div class="contenu ascenseur" tabindex="-1">
			<ul id="messages">
				<li v-for="(messageConversation, indexMessageConversation) in messagesChat" :key="'conversation_' + indexMessageConversation"><span>{{ definirNom(messageConversation) }}</span>{{ messageConversation.texte }}</li>
			</ul>
			<div id="ecrire-message">
				<input type="text" :value="messageChat" @input="messageChat = $event.target.value" autocomplete="off" @keydown.enter="envoyerMessage">
				<button :tabindex="definirTabIndex()" @click="envoyerMessage"><i class="material-icons">send</i></button>
			</div>
		</div>
	</div>

	<div id="menu-options" class="menu gauche" role="menu" v-else-if="menu === 'options' && admin">
		<div class="en-tete">
			<span class="titre">{{ $t('parametresPad') }}</span>
			<span class="fermer" role="button" :tabindex="definirTabIndex()" @click="fermerMenuOptions" @keydown.enter="fermerMenuOptions"><i class="material-icons">close</i></span>
		</div>
		<div class="contenu ascenseur" tabindex="-1">
			<div class="conteneur">
				<label for="titre-pad">{{ $t('titre') }}</label>
				<input id="titre-pad"  type="text" :disabled="viaDigidrive" :value="pad.titre" @keydown.enter="modifierTitre">
			</div>
			<div class="conteneur conteneur-bouton" v-if="!viaDigidrive">
				<span class="bouton-vert" role="button" :tabindex="definirTabIndex()" @click="modifierTitre" @keydown.enter="modifierTitre">{{ $t('enregistrer') }}</span>
			</div>
			<div class="conteneur conteneur-bouton" v-if="pad.identifiant === identifiant && statut === 'auteur' && !viaDigidrive">
				<span class="bouton-bleu" role="button" :tabindex="definirTabIndex()" @click="afficherModaleModifierMotDePasse" @keydown.enter="afficherModaleModifierMotDePasse">{{ $t('modifierMotDePasse') }}</span>
			</div>
			<div class="conteneur">
				<label>{{ $t('lienEtCodeQR') }}</label>
				<div id="copier-lien">
					<input type="text" disabled :value="hote + '/p/' + pad.id + '/' + pad.token">
					<span class="icone lien" role="button" :tabindex="definirTabIndex()" :title="$t('copierLien')" @keydown.enter="copierLien"><i class="material-icons">content_copy</i></span>
					<span class="icone codeqr" role="button" :tabindex="definirTabIndex()" :title="$t('afficherCodeQR')" @click="afficherCodeQR" @keydown.enter="afficherCodeQR"><i class="material-icons">qr_code</i></span>
				</div>
			</div>
			<div class="conteneur">
				<label>{{ $t('codeIntegration') }}</label>
				<div id="copier-code">
					<input type="text" disabled :value="'<iframe src=&quot;' + hote + '/p/' + pad.id + '/' + pad.token + '&quot; frameborder=&quot;0&quot; width=&quot;100%&quot; height=&quot;500&quot; allow=&quot;autoplay; fullscreen&quot;></iframe>'">
					<span class="icone lien" role="button" :tabindex="definirTabIndex()" :title="$t('copierCode')" @keydown.enter="copierIframe"><i class="material-icons">content_copy</i></span>
				</div>
			</div>
			<div class="conteneur" v-if="pad.vues && pad.vues > 0">
				<label>{{ $t('nombreVues') }}</label>
				<div>{{ pad.vues }}</div>
			</div>
			<div class="conteneur">
				<label>{{ $t('langue') }}</label>
				<div id="langues">
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'es'}" @click="modifierLangue('es')" @keydown.enter="modifierLangue('es')">ES</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'de'}" @click="modifierLangue('de')" @keydown.enter="modifierLangue('de')">DE</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'hr'}" @click="modifierLangue('hr')" @keydown.enter="modifierLangue('hr')">HR</span>
				</div>
			</div>
			<div class="conteneur conteneur-bouton" v-if="pad.identifiant === identifiant && statut !== 'auteur'">
				<label>{{ $t('adminsPad') }}</label>
				<span class="bouton-bleu" role="button" :tabindex="definirTabIndex()" @click="ouvrirModaleAdmins" @keydown.enter="ouvrirModaleAdmins">{{ $t('gererAdmins') }}</span>
			</div>
			<div class="conteneur">
				<label>{{ $t('acces') }}</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('acces-public')">{{ $t('public') }}
					<input id="acces-public" type="radio" name="acces" :checked="pad.acces === 'public'" @change="modifierAcces('public')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('acces-prive')" v-if="statut === 'utilisateur'">{{ $t('prive') }}
					<input id="acces-prive" type="radio" name="acces" :checked="pad.acces === 'prive'" @change="modifierAcces('prive')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('acces-code')">{{ $t('protege') }}
					<input id="acces-code" type="radio" name="acces" :checked="pad.acces === 'code'" @change="modifierAcces('code')">
					<span class="coche" />
				</label>
			</div>
			<div class="conteneur" v-if="pad.acces === 'code'">
				<label for="champ-code-acces">{{ $t('codeAcces') }}</label>
				<div id="code-acces">
					<input id="champ-code-acces" type="text" maxlength="18" :disabled="modificationCode === false" :value="pad.code" v-if="codeVisible">
					<input id="champ-code-acces" type="password" :disabled="modificationCode === false" :value="pad.code" v-else>
					<span class="icone" role="button" :tabindex="definirTabIndex()" :title="$t('modifierCode')" @click="afficherModifierCodeAcces" @keydown.enter="afficherModifierCodeAcces" v-if="!modificationCode"><i class="material-icons">edit</i></span>
					<span class="icone" role="button" :tabindex="definirTabIndex()" :title="$t('annulerModifierCode')" @click="annulerModifierCodeAcces" @keydown.enter="annulerModifierCodeAcces" v-else><i class="material-icons">edit_off</i></span>
					<span class="icone" role="button" :tabindex="definirTabIndex()" :title="$t('masquerCode')" @click="masquerCodeAcces" @keydown.enter="masquerCodeAcces" v-if="codeVisible"><i class="material-icons">visibility_off</i></span>
					<span class="icone" role="button" :tabindex="definirTabIndex()" :title="$t('afficherCode')" @click="afficherCodeAcces" @keydown.enter="afficherCodeAcces" v-else><i class="material-icons">visibility</i></span>
				</div>
			</div>
			<div class="conteneur conteneur-bouton" v-if="modificationCode">
				<span class="bouton-vert" role="button" :tabindex="definirTabIndex()" @click="modifierCodeAcces" @keydown.enter="modifierCodeAcces">{{ $t('enregistrer') }}</span>
			</div>
			<div class="conteneur" v-if="pad.acces !== 'prive'">
				<label>{{ $t('contributions') }}</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('contributions-modifiables')">{{ $t('modifiables') }}
					<input id="contributions-modifiables" type="radio" name="contributions" :checked="pad.contributions === 'modifiables'" @change="modifierContributions('modifiables')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('contributions-ouvertes')">{{ $t('ouvertes') }}
					<input id="contributions-ouvertes" type="radio" name="contributions" :checked="pad.contributions === 'ouvertes'" @change="modifierContributions('ouvertes')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('contributions-moderees')">{{ $t('moderees') }}
					<input id="contributions-moderees" type="radio" name="contributions" :checked="pad.contributions === 'moderees'" @change="modifierContributions('moderees')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('contributions-fermees')">{{ $t('fermees') }}
					<input id="contributions-fermees" type="radio" name="contributions" :checked="pad.contributions === 'fermees'" @change="modifierContributions('fermees')">
					<span class="coche" />
				</label>
			</div>
			<div class="conteneur">
				<label>{{ $t('affichage') }}</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('affichage-mur')">{{ $t('mur') }}
					<input id="affichage-mur" type="radio" name="affichage" :checked="pad.affichage === 'mur'" @change="modifierAffichage('mur')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('affichage-flux')">{{ $t('fluxVertical') }}
					<input id="affichage-flux" type="radio" name="affichage" :checked="pad.affichage === 'flux-vertical'" @change="modifierAffichage('flux-vertical')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('affichage-colonnes')">{{ $t('colonnes') }}
					<input id="affichage-colonnes" type="radio" name="affichage" :checked="pad.affichage === 'colonnes'" @change="modifierAffichage('colonnes')">
					<span class="coche" />
				</label>
			</div>
			<div class="conteneur">
				<label>{{ $t('ordreCapsules') }}</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('ordre-croissant')">{{ $t('croissant') }}
					<input id="ordre-croissant" type="radio" name="ordre" :checked="pad.ordre === 'croissant'" @change="modifierOrdre('croissant')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('ordre-decroissant')">{{ $t('decroissant') }}
					<input id="ordre-decroissant" type="radio" name="ordre" :checked="pad.ordre === 'decroissant'" @change="modifierOrdre('decroissant')">
					<span class="coche" />
				</label>
			</div>
			<div class="conteneur">
				<label>{{ $t('largeurCapsules') }}</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('largeur-normale')">{{ $t('normale') }}
					<input id="largeur-normale" type="radio" name="largeur" :checked="pad.largeur === 'normale'" @change="modifierLargeur('normale')">
					<span class="coche" />
				</label>
				<label class="bouton-radio" :tabindex="definirTabIndex()" @keydown.enter="activerInput('largeur-large')">{{ $t('large') }}
					<input id="largeur-large" type="radio" name="largeur" :checked="pad.largeur === 'large'" @change="modifierLargeur('large')">
					<span class="coche" />
				</label>
			</div>
			<div class="conteneur fond">
				<label>{{ $t('arrierePlan') }}</label>
				<div class="fonds">
					<span role="button" :tabindex="definirTabIndex()" v-for="(imageFond, indexImageFond) in fonds" @click="modifierFond(imageFond)" @keydown.enter="modifierFond(imageFond)" :key="'fond_' + indexImageFond">
						<img :src="'/img/vignettes/' + imageFond" :alt="'Fond' + (indexImageFond + 1)">
					</span>
					<span class="couleur-personnalisee">
						<input type="color" :value="pad.fond" @change="modifierCouleurFond" :title="$t('selectionnerCouleur')" v-if="pad.hasOwnProperty('fond') && pad.fond.substring(0, 1) === '#'">
						<input type="color" value="#ffffff" @change="modifierCouleurFond" :title="$t('selectionnerCouleur')" v-else>
					</span>
				</div>
			</div>
			<div class="conteneur">
				<label for="televerser-fond" class="bouton-bleu" role="button" :tabindex="definirTabIndex()" @keydown.enter="activerInput('televerser-fond')" v-if="menu === 'options' && progressionFond === 0">{{ $t('televerserImageFond') }}</label>
				<input id="televerser-fond" type="file" style="display: none" accept=".jpg, .jpeg, .png, .gif" @change="ajouterFond">
				<div class="conteneur-chargement progression" v-if="menu === 'options' && progressionFond > 0">
					<progress class="barre-progression" max="100" :value="progressionFond" />
					<div class="chargement" />
				</div>
				<div class="conteneur-interrupteur" v-if="pad.hasOwnProperty('fond') && !pad.fond.includes('/img/') && pad.fond.substring(0, 1) !== '#'">
					<span>{{ $t('repeterImageFond') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-fond-repete')">
						<input id="parametre-fond-repete" type="checkbox" :checked="pad.fondRepete === 'active'" @change="modifierFondRepete">
						<span class="barre" />
					</label>
				</div>
			</div>
			<div class="conteneur">
				<label>{{ $t('onglets') }}</label>
				<div class="conteneur-interrupteur">
					<span>{{ $t('activitePad') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-registre-activite')">
						<input id="parametre-registre-activite" type="checkbox" :checked="!pad.registreActivite || pad.registreActivite === 'active'" @change="modifierActivite">
						<span class="barre" />
					</label>
				</div>
				<div class="conteneur-interrupteur">
					<span>{{ $t('conversation') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-conversation')">
						<input id="parametre-conversation" type="checkbox" :checked="!pad.conversation || pad.conversation === 'activee'" @change="modifierConversation">
						<span class="barre" />
					</label>
				</div>
			</div>
			<div class="conteneur">
				<label>{{ $t('utilisateurs') }}</label>
				<div class="conteneur-interrupteur">
					<span>{{ $t('utilisateursConnectes') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-liste-utilisateurs')">
						<input id="parametre-liste-utilisateurs" type="checkbox" :checked="!pad.listeUtilisateurs || pad.listeUtilisateurs === 'activee'" @change="modifierListeUtilisateurs">
						<span class="barre" />
					</label>
				</div>
				<div class="conteneur-interrupteur" v-if="!pad.listeUtilisateurs || pad.listeUtilisateurs === 'activee'">
					<span>{{ $t('editionNom') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-edition-nom')">
						<input id="parametre-edition-nom" type="checkbox" :checked="pad.editionNom === 'activee'" @change="modifierEditionNom">
						<span class="barre" />
					</label>
				</div>
			</div>
			<div class="conteneur">
				<label>{{ $t('capsules') }}</label>
				<div class="conteneur-interrupteur">
					<span>{{ $t('fichiers') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-fichiers')">
						<input id="parametre-fichiers" type="checkbox" :checked="pad.fichiers === 'actives'" @change="modifierFichiers">
						<span class="barre" />
					</label>
				</div>
				<div class="conteneur-interrupteur">
					<span>{{ $t('enregistrementsAudio') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-enregistrements')">
						<input id="parametre-enregistrements" type="checkbox" :checked="pad.enregistrements === 'actives'" @change="modifierEnregistrements">
						<span class="barre" />
					</label>
				</div>
				<div class="conteneur-interrupteur">
					<span>{{ $t('liens') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-liens')">
						<input id="parametre-liens" type="checkbox" :checked="pad.liens === 'actives'" @change="modifierLiens">
						<span class="barre" />
					</label>
				</div>
				<div class="conteneur-interrupteur" v-if="etherpad !== '' && etherpadApi !== ''">
					<span>{{ $t('documentsCollaboratifs') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-documents')">
						<input id="parametre-documents" type="checkbox" :checked="pad.documents === 'actives'" @change="modifierDocuments">
						<span class="barre" />
					</label>
				</div>
				<div class="conteneur-interrupteur">
					<span>{{ $t('commentaires') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-commentaires')">
						<input id="parametre-commentaires" type="checkbox" :checked="pad.commentaires === 'actives'" @change="modifierCommentaires">
						<span class="barre" />
					</label>
				</div>
				<div class="conteneur-interrupteur">
					<span>{{ $t('evaluations') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-evaluations')">
						<input id="parametre-evaluations" type="checkbox" :checked="pad.evaluations === 'activees'" @change="modifierEvaluations">
						<span class="barre" />
					</label>
				</div>
				<div class="conteneur-interrupteur" v-if="statut === 'utilisateur' || viaDigidrive">
					<span>{{ $t('copieCapsule') }}</span>
					<label class="bouton-interrupteur" :tabindex="definirTabIndex()" @keydown.enter="activerInput('parametre-copie-bloc')">
						<input id="parametre-copie-bloc" type="checkbox" :checked="pad.copieBloc === 'activee'" @change="modifierCopieBloc">
						<span class="barre" />
					</label>
				</div>
			</div>
			<div class="conteneur conteneur-bouton" v-if="pad.identifiant === identifiant && statut === 'auteur'">
				<span class="bouton-bleu" role="button" :tabindex="definirTabIndex()" @click="afficherExporterPad" @keydown.enter="afficherExporterPad">{{ $t('exporterPad') }}</span>
			</div>
			<div class="conteneur conteneur-bouton" v-if="pad.identifiant === identifiant && statut === 'auteur' && !viaDigidrive">
				<span class="bouton-rouge" role="button" :tabindex="definirTabIndex()" @click="afficherSupprimerPad" @keydown.enter="afficherSupprimerPad">{{ $t('supprimerPad') }}</span>
			</div>
		</div>
	</div>
	<div id="menu-options" class="menu gauche" role="menu" v-else-if="menu === 'options' && !admin && statut !== 'utilisateur'">
		<div class="en-tete">
			<span class="titre">{{ $t('languePad') }}</span>
			<span class="fermer" role="button" :tabindex="definirTabIndex()" @click="fermerMenuOptions" @keydown.enter="fermerMenuOptions"><i class="material-icons">close</i></span>
		</div>
		<div class="contenu ascenseur" tabindex="-1">
			<div class="conteneur">
				<div id="langues">
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'es'}" @click="modifierLangue('es')" @keydown.enter="modifierLangue('es')">ES</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'de'}" @click="modifierLangue('de')" @keydown.enter="modifierLangue('de')">DE</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
					<span role="button" :tabindex="definirTabIndex()" :class="{'selectionne': langue === 'hr'}" @click="modifierLangue('hr')" @keydown.enter="modifierLangue('hr')">HR</span>
				</div>
			</div>
		</div>
	</div>

	<div id="menu-utilisateurs" class="menu droite" role="menu" v-else-if="menu === 'utilisateurs' && pad.listeUtilisateurs === 'activee'">
		<div class="en-tete">
			<span class="titre">{{ $t('utilisateursConnectes') }}</span>
			<span class="fermer" role="button" :tabindex="definirTabIndex()" @click="fermerMenu" @keydown.enter="fermerMenu"><i class="material-icons">close</i></span>
		</div>
		<div class="contenu ascenseur" tabindex="-1">
			<ul id="utilisateurs">
				<template v-for="(utilisateurConnecte, indexUtilisateurConnecte) in utilisateurs">
					<li class="moi" v-if="utilisateurConnecte.identifiant === identifiant" :key="'utilisateur_moi_' + indexUtilisateurConnecte">
						<span class="utilisateur" v-if="statut === 'utilisateur'">{{ definirNom(utilisateurConnecte) }} ({{ $t('moi') }})</span>
						<span class="utilisateur invite edition" role="button" :tabindex="definirTabIndex()" @click="afficherModifierNom" @keydown.enter="afficherModifierNom" v-else-if="statut !== 'utilisateur' && pad.editionNom && pad.editionNom === 'activee'"><span>{{ definirNom(utilisateurConnecte) }} ({{ $t('moi') }})</span><span class="icone"><i class="material-icons">edit</i></span></span>
						<span class="utilisateur invite" v-else-if="statut !== 'utilisateur' && (!pad.editionNom || (pad.editionNom && pad.editionNom === 'desactivee'))">{{ definirNom(utilisateurConnecte) }} ({{ $t('moi') }})</span>
						<span class="couleur" role="button" :tabindex="definirTabIndex()" :style="{'background': utilisateurConnecte.couleur}" @click="listeCouleurs = !listeCouleurs" @keydown.enter="listeCouleurs = !listeCouleurs" />
						<div class="couleurs" v-if="listeCouleurs">
							<span role="button" :tabindex="definirTabIndex()" :class="{'actif': couleur === couleurUtilisateur}" v-for="(couleurUtilisateur, indexCouleurUtilisateur) in couleurs" :style="{'background': couleurUtilisateur }" @click="modifierCouleur(couleurUtilisateur)" @keydown.enter="modifierCouleur(couleurUtilisateur)" :key="'couleur_' + indexCouleurUtilisateur" />
							<span class="couleur-personnalisee actif" :title="$t('selectionnerCouleur')" v-if="!couleurs.includes(couleur)"><input type="color" :value="couleur" @change="modifierCouleur($event.target.value)"></span>
							<span class="couleur-personnalisee" :title="$t('selectionnerCouleur')" v-else><input type="color" value="#ffffff" @change="modifierCouleur($event.target.value)"></span>
						</div>
					</li>
					<li v-else :key="'utilisateur_' + indexUtilisateurConnecte">
						<span class="utilisateur">{{ definirNom(utilisateurConnecte) }}</span>
						<span class="couleur" :style="{'background': utilisateurConnecte.couleur}" />
					</li>
				</template>
			</ul>
		</div>
	</div>

	<div id="pad" :class="{'fond-personnalise': pad.hasOwnProperty('fond') && !pad.fond.includes('/img/') && pad.fond.substring(0, 1) !== '#' && (!pad.hasOwnProperty('fondRepete') || pad.fondRepete === 'desactive'), 'fond-personnalise-repete': pad.hasOwnProperty('fond') && !pad.fond.includes('/img/') && pad.fond.substring(0, 1) !== '#' && pad.hasOwnProperty('fondRepete') && pad.fondRepete === 'active', 'organiser': action === 'organiser'}" :style="definirFond(pad.fond)" v-if="Object.keys(pad).length > 0 && (pad.acces !== 'code' || (pad.acces === 'code' && accesAutorise))">
		<!-- Affichage mur // sans recherche -->
		<masonry id="blocs" class="mur" :cols="definirLargeurCapsules()" :gutter="0" v-if="pad.affichage === 'mur' && action !== 'organiser' && !recherche">
			<div :id="item.bloc" class="bloc" :tabindex="definirTabIndex()" :class="{'privee': item.visibilite === 'privee'}" v-for="(item, indexItem) in blocs" :style="{'border-color': item.couleur}" :data-bloc="item.bloc" @focus="definirBlocActif(item.bloc)" :key="'bloc_' + indexItem">
				<Capsule :admin="admin" :identifiant="identifiant" :item="item" :pad="pad" :couleur="couleur" :statut="statut" :viaDigidrive="viaDigidrive" :indexCol="0" :tabindex="definirTabIndex()" :action="action" />
			</div>
		</masonry>
		<!-- Affichage mur // avec recherche -->
		<masonry id="blocs" class="mur" :cols="definirLargeurCapsules()" :gutter="0" v-else-if="pad.affichage === 'mur' && action !== 'organiser' && recherche">
			<div :id="item.bloc" class="bloc" :tabindex="definirTabIndex()" :class="{'privee': item.visibilite === 'privee'}" v-for="(item, indexItem) in blocsRecherche" :style="{'border-color': item.couleur}" :data-bloc="item.bloc" @focus="definirBlocActif(item.bloc)" :key="'bloc_' + indexItem">
				<Capsule :admin="admin" :identifiant="identifiant" :item="item" :pad="pad" :couleur="couleur" :statut="statut" :viaDigidrive="viaDigidrive" :indexCol="0" :tabindex="definirTabIndex()" :action="action" />
			</div>
		</masonry>
		<!-- Affichage flux vertical // sans recherche -->
		<div id="blocs" class="flux-vertical" :class="{'large': pad.hasOwnProperty('largeur') && pad.largeur === 'large'}" v-else-if="pad.affichage === 'flux-vertical' && action !== 'organiser' && !recherche">
			<div :id="item.bloc" class="bloc" :tabindex="definirTabIndex()" :class="{'privee': item.visibilite === 'privee'}" v-for="(item, indexItem) in blocs" :style="{'border-color': item.couleur}" :data-bloc="item.bloc" @focus="definirBlocActif(item.bloc)" :key="'bloc_' + indexItem">
				<CapsuleAlt :admin="admin" :identifiant="identifiant" :item="item" :pad="pad" :couleur="couleur" :statut="statut" :viaDigidrive="viaDigidrive" :indexCol="0" :tabindex="definirTabIndex()" :action="action" />
			</div>
		</div>
		<!-- Affichage flux vertical // avec recherche -->
		<div id="blocs" class="flux-vertical" :class="{'large': pad.hasOwnProperty('largeur') && pad.largeur === 'large'}" v-else-if="pad.affichage === 'flux-vertical' && action !== 'organiser' && recherche">
			<div :id="item.bloc" class="bloc" :tabindex="definirTabIndex()" :class="{'privee': item.visibilite === 'privee'}" v-for="(item, indexItem) in blocsRecherche" :style="{'border-color': item.couleur}" :data-bloc="item.bloc" @focus="definirBlocActif(item.bloc)" :key="'bloc_' + indexItem">
				<CapsuleAlt :admin="admin" :identifiant="identifiant" :item="item" :pad="pad" :couleur="couleur" :statut="statut" :viaDigidrive="viaDigidrive" :indexCol="0" :tabindex="definirTabIndex()" :action="action" />
			</div>
		</div>
		<!-- Affichage colonne // sans recherche -->
		<div id="blocs" class="colonnes" v-else-if="pad.affichage === 'colonnes' && action !== 'organiser' && !recherche">
			<template v-for="(col, indexCol) in pad.colonnes">
				<section :id="'colonne' + indexCol" class="colonne" :class="{'masquee': admin && pad.hasOwnProperty('affichageColonnes') && !pad.affichageColonnes[indexCol], 'large': pad.hasOwnProperty('largeur') && pad.largeur === 'large'}" v-if="!pad.hasOwnProperty('affichageColonnes') || admin || (pad.hasOwnProperty('affichageColonnes') && pad.affichageColonnes[indexCol])" :key="'colonne_' + indexCol">
					<div class="bloc haut">
						<div class="titre-colonne">
							<span>{{ col }}</span>
						</div>
						<div class="menu-colonne" v-if="admin">
							<span class="bouton" role="button" :tabindex="definirTabIndex()" :title="$t('masquerColonne')" @click="masquerColonne(indexCol)" @keydown.enter="masquerColonne(indexCol)" v-if="!pad.hasOwnProperty('affichageColonnes') || pad.affichageColonnes[indexCol]"><i class="material-icons">visibility_off</i></span>
							<span class="bouton" role="button" :tabindex="definirTabIndex()" :title="$t('afficherColonne')" @click="afficherColonne(indexCol)" @keydown.enter="afficherColonne(indexCol)" v-else-if="pad.hasOwnProperty('affichageColonnes') && !pad.affichageColonnes[indexCol]"><i class="material-icons">visibility</i></span>
							<span class="bouton" role="button" :tabindex="definirTabIndex()" :title="$t('modifierColonne')" @click="ouvrirModaleColonne('edition', indexCol)" @keydown.enter="ouvrirModaleColonne('edition', indexCol)"><i class="material-icons">edit</i></span>
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerColonne')" @click="afficherSupprimerColonne(indexCol)" @keydown.enter="afficherSupprimerColonne(indexCol)" v-if="pad.colonnes.length > 1"><i class="material-icons">delete</i></span>
						</div>
					</div>
					<div class="conteneur-colonne ascenseur" v-if="colonnes[indexCol].length > 0">
						<div :id="item.bloc" class="bloc" :tabindex="definirTabIndex()" :class="{'privee': item.visibilite === 'privee'}" v-for="(item, indexItem) in colonnes[indexCol]" :style="{'border-color': item.couleur}" :data-bloc="item.bloc" @focus="definirBlocActif(item.bloc)" :key="'bloc_' + indexItem">
							<CapsuleAlt :admin="admin" :identifiant="identifiant" :item="item" :pad="pad" :couleur="couleur" :statut="statut" :viaDigidrive="viaDigidrive" :indexCol="indexCol" :tabindex="definirTabIndex()" :action="action" />
						</div>
					</div>
					<div class="ajouter" v-if="accesAutorise && (admin || pad.contributions !== 'fermees')">
						<span role="button" :tabindex="definirTabIndex()" :title="$t('ajouterCapsule')" @click="ouvrirModaleBloc('creation', '', indexCol)" @keydown.enter="ouvrirModaleBloc('creation', '', indexCol)">
							<i class="material-icons">add</i>
						</span>
					</div>
				</section>
			</template>
			<section class="colonne" v-if="admin">
				<div class="bloc haut ajouter-colonne" role="button" :tabindex="definirTabIndex()" @click="ouvrirModaleColonne('creation', '')" @keydown.enter="ouvrirModaleColonne('creation', '')">
					<div class="titre-colonne">
						<span>{{ $t('ajouterColonne') }}</span>
					</div>
				</div>
			</section>
		</div>
		<!-- Affichage colonne // avec recherche -->
		<div id="blocs" class="colonnes" v-else-if="pad.affichage === 'colonnes' && action !== 'organiser' && recherche">
			<template v-for="(col, indexCol) in pad.colonnes">
				<section :id="'colonne' + indexCol" class="colonne" :class="{'masquee': admin && pad.hasOwnProperty('affichageColonnes') && !pad.affichageColonnes[indexCol], 'large': pad.hasOwnProperty('largeur') && pad.largeur === 'large'}" v-if="blocsRecherche[indexCol].length > 0 && (!pad.hasOwnProperty('affichageColonnes') || admin || (pad.hasOwnProperty('affichageColonnes') && pad.affichageColonnes[indexCol]))" :key="'colonne_' + indexCol">
					<div class="bloc haut">
						<div class="titre-colonne">
							<span>{{ col }}</span>
						</div>
					</div>
					<div class="conteneur-colonne ascenseur">
						<div :id="item.bloc" class="bloc" :tabindex="definirTabIndex()" :class="{'privee': item.visibilite === 'privee'}" v-for="(item, indexItem) in blocsRecherche[indexCol]" :style="{'border-color': item.couleur}" :data-bloc="item.bloc" @focus="definirBlocActif(item.bloc)" :key="'bloc_' + indexItem">
							<CapsuleAlt :admin="admin" :identifiant="identifiant" :item="item" :pad="pad" :couleur="couleur" :statut="statut" :viaDigidrive="viaDigidrive" :indexCol="indexCol" :tabindex="definirTabIndex()" :action="action" />
						</div>
					</div>
				</section>
			</template>
		</div>
		<!-- Mode Organiser // Affichage mur et flux vertical -->
		<draggable id="blocs" :class="{'mur': pad.affichage === 'mur', 'flux-vertical': pad.affichage === 'flux-vertical', 'large': pad.hasOwnProperty('largeur') && pad.largeur === 'large'}" v-model="blocs" draggable=".bloc" :sort="true" :animation="250" :swap-threshold="0.5" :force-fallback="true" :fallback-tolerance="10" :scroll-sensitivity="convertirRem(4)" :scroll-speed="convertirRem(4)" @start="demarrerDeplacerBloc" @end="deplacerBloc" v-else-if="(pad.affichage === 'mur' || pad.affichage === 'flux-vertical') && action === 'organiser'">
			<div :id="item.bloc" class="bloc" :tabindex="definirTabIndex()" :class="{'privee': item.visibilite === 'privee'}" v-for="(item, indexItem) in blocs" :style="{'border-color': item.couleur}" :data-bloc="item.bloc" @focus="definirBlocActif(item.bloc)" :key="'bloc_' + indexItem">
				<Capsule :admin="admin" :identifiant="identifiant" :item="item" :pad="pad" :couleur="couleur" :statut="statut" :viaDigidrive="viaDigidrive" :indexCol="0" :tabindex="definirTabIndex()" :action="action" />
			</div>
		</draggable>
		<!-- Mode Organiser // Affichage colonnes -->
		<div id="blocs" class="colonnes" v-else-if="pad.affichage === 'colonnes' && action === 'organiser'">
			<section :id="'colonne' + indexCol" class="colonne" :class="{'masquee': admin && pad.hasOwnProperty('affichageColonnes') && !pad.affichageColonnes[indexCol], 'large': pad.hasOwnProperty('largeur') && pad.largeur === 'large'}" v-for="(col, indexCol) in pad.colonnes" :key="'colonne_' + indexCol">
				<div class="bloc haut">
					<div class="titre-colonne">
						<span>{{ col }}</span>
					</div>
					<div class="menu-colonne" v-if="admin && pad.colonnes.length > 1">
						<span class="bouton gauche" role="button" :tabindex="definirTabIndex()" :title="$t('deplacerGauche')" @click="deplacerColonne('gauche', indexCol)" @keydown.enter="deplacerColonne('gauche', indexCol)" v-if="indexCol > 0"><i class="material-icons">arrow_back</i></span>
						<span class="bouton droite" role="button" :tabindex="definirTabIndex()" :title="$t('deplacerDroite')" @click="deplacerColonne('droite', indexCol)" @keydown.enter="deplacerColonne('droite', indexCol)" v-if="indexCol < (pad.colonnes.length - 1)"><i class="material-icons">arrow_forward</i></span>
					</div>
				</div>
				<draggable class="conteneur-colonne ascenseur" v-model="colonnes[indexCol]" group="colonne" draggable=".bloc" :sort="true" :animation="250" :swap-threshold="0.5" :force-fallback="true" :fallback-tolerance="10" :scroll-sensitivity="convertirRem(4)" :scroll-speed="convertirRem(4)" :data-index="indexCol" @start="demarrerDeplacerBloc" @end="deplacerBloc">
					<div :id="item.bloc" class="bloc" :tabindex="definirTabIndex()" :class="{'privee': item.visibilite === 'privee'}" v-for="(item, indexItem) in colonnes[indexCol]" :style="{'border-color': item.couleur}" :data-bloc="item.bloc" @focus="definirBlocActif(item.bloc)" :key="'bloc_' + indexItem">
						<Capsule :admin="admin" :identifiant="identifiant" :item="item" :pad="pad" :couleur="couleur" :statut="statut" :viaDigidrive="viaDigidrive" :indexCol="indexCol" :tabindex="definirTabIndex()" :action="action" />
					</div>
				</draggable>
			</section>
		</div>
	</div>

	<div id="pad" :style="{'background': '#00ced1'}" v-else />

	<Transition name="fondu">
		<span id="ajouter" role="button" :tabindex="definirTabIndex()" :title="$t('ajouterCapsule')" @click="ouvrirModaleBloc('creation', '', 0)" @keydown.enter="ouvrirModaleBloc('creation', '', 0)" v-if="accesAutorise && !recherche && ((pad.affichage === 'mur' || pad.affichage === 'flux-vertical') && ((admin && action !== 'organiser') || (!admin && pad.contributions !== 'fermees')))">
			<i class="material-icons">add</i>
		</span>
	</Transition>

	<div class="conteneur-modale" v-if="modale === 'colonne'">
		<div class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ titreModaleColonne }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleColonne" @keydown.enter="fermerModaleColonne"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<label for="champ-nom-colonne">{{ $t('nomColonne') }}</label>
					<input id="champ-nom-colonne" type="text" maxlength="96" :value="titreColonne" @input="titreColonne = $event.target.value" @keydown.enter="ajouterColonne" v-if="modeColonne === 'creation'">
					<input id="champ-nom-colonne" type="text" maxlength="96" :value="titreColonne" @input="titreColonne = $event.target.value" @keydown.enter="modifierColonne" v-else>
					<div class="actions">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="ajouterColonne" @keydown.enter="ajouterColonne" v-if="modeColonne === 'creation'">{{ $t('valider') }}</span>
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="modifierColonne" @keydown.enter="modifierColonne" v-else>{{ $t('valider') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'bloc'">
		<div id="bloc" class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ titreModale }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleBloc" @keydown.enter="fermerModaleBloc"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur ascenseur" tabindex="-1">
				<div class="contenu">
					<div class="conteneur-interrupteur" v-if="admin">
						<span>{{ $t('capsulePrivee') }}</span>
						<label class="bouton-interrupteur" :tabindex="definirTabIndexModale()" v-if="mode === 'edition' && visibiliteInitiale === 'privee'">
							<input id="visibilite-capsule" type="checkbox" :checked="visibilite" disabled>
							<span class="barre desactive" />
						</label>
						<label class="bouton-interrupteur" :tabindex="definirTabIndexModale()" @keydown.enter="activerInput('visibilite-capsule')" v-else>
							<input id="visibilite-capsule" type="checkbox" :checked="visibilite" @change="modifierVisibiliteCapsule">
							<span class="barre" />
						</label>
					</div>
					<label for="champ-titre">{{ $t('titre') }}</label>
					<input id="champ-titre" type="text" maxlength="96" :placeholder="$t('ajouterTitre')" :value="titre" @input="titre = $event.target.value">
					<label>{{ $t('texte') }}</label>
					<div id="texte" :class="{'mobile': mobile === true }" />
					<div class="televerser fichier" v-if="media === '' && !chargementLien && !enregistrement && pad.fichiers === 'actives'">
						<label for="televerser-fichier" class="bouton" role="button" :tabindex="definirTabIndexModale()" @keydown.enter="activerInput('televerser-fichier')" v-if="progressionFichier === 0">{{ $t('ajouterFichier') }}</label>
						<input id="televerser-fichier" type="file" style="display: none" :accept="fichiersAutorises" @change="ajouterFichier($event.target)">
						<div class="conteneur-chargement progression" v-if="progressionFichier > 0">
							<progress class="barre-progression" max="100" :value="progressionFichier" />
							<div class="chargement" />
						</div>
					</div>
					<div class="separateur" v-if="media === '' && progressionFichier === 0 && !chargementLien && !enregistrement && pad.fichiers === 'actives' && pad.enregistrements === 'actives'">
						<span>{{ $t('ou') }}</span>
					</div>
					<div class="enregistrer audio" v-if="media === '' && progressionFichier === 0 && !chargementLien && pad.enregistrements === 'actives'">
						<template v-if="!enregistrement">
							<span id="enregistrer" class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="enregistrerAudio" @keydown.enter="enregistrerAudio"><i class="material-icons">fiber_manual_record</i><span>{{ $t('enregistrerAudio') }}</span></span>
						</template>
						<div id="enregistrement" v-else>
							<canvas id="visualisation" width="360" height="60" />
							<div class="enregistrement">
								<span class="bouton stopper" role="button" :tabindex="definirTabIndexModale()" @click="arreterEnregistrementAudio" @keydown.enter="arreterEnregistrementAudio"><i class="material-icons">stop</i></span>
								<span class="duree">{{ dureeEnregistrement }}</span>
							</div>
						</div>
					</div>
					<div class="separateur" v-if="media === '' && progressionFichier === 0 && !chargementLien && !enregistrement && (pad.fichiers === 'actives' || pad.enregistrements === 'actives') && pad.liens === 'actives'">
						<span>{{ $t('ou') }}</span>
					</div>
					<div id="ajouter-lien" v-if="media === '' && progressionFichier === 0 && !enregistrement && pad.liens === 'actives'">
						<input type="text" :value="lien" @input="lien = $event.target.value" :placeholder="$t('ajouterLien')" @keydown.enter="ajouterLien" v-if="!chargementLien">
						<span class="bouton rechercher" role="button" :tabindex="definirTabIndexModale()" :title="$t('valider')" @click="ajouterLien" @keydown.enter="ajouterLien" v-if="!chargementLien"><i class="material-icons">search</i></span>
						<div class="conteneur-chargement" v-else>
							<div class="chargement" />
						</div>
					</div>
					<div class="separateur" v-if="media === '' && progressionFichier === 0 && !chargementLien && !enregistrement && (pad.fichiers === 'actives' || pad.liens === 'actives' || pad.enregistrements === 'actives') && pad.documents === 'actives'">
						<span>{{ $t('ou') }}</span>
					</div>
					<div id="ajouter-document" v-if="media === '' && progressionFichier === 0 && !chargementLien && !enregistrement && pad.documents === 'actives'">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="ajouterDocument" @keydown.enter="ajouterDocument">{{ $t('creerDocCollaboratif') }}</span>
					</div>
					<label v-if="media !== '' && source !== 'etherpad'">{{ $t('media') }}</label>
					<label v-else-if="media !== ''">{{ $t('documentCollaboratif') }}</label>
					<div id="media" v-if="media !== '' && iframe !== ''">
						<div id="iframe" :class="{'youtube': source === 'YouTube' || source === 'Vimeo' || source === 'Dailymotion'}">
							<iframe :src="iframe" allow="autoplay; fullscreen" v-if="verifierURL(iframe) === true" />
							<div class="html" v-else v-html="iframe" />
						</div>
						<div class="action">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndexModale()" @click="supprimerLien" @keydown.enter="supprimerLien">{{ $t('supprimer') }}</span>
							<span class="bouton convertir" role="button" :tabindex="definirTabIndexModale()" @click="convertirEnLien" @keydown.enter="convertirEnLien" v-if="lien !== ''">{{ $t('convertirEnLien') }}</span>
							<span class="information" v-if="lien !== ''">
								<i class="material-icons">info</i>
								<span v-html="$t('infoErreurLien')" />
							</span>
						</div>
					</div>
					<div id="media" v-else-if="media !== ''">
						<div class="conteneur-chargement" v-if="chargementMedia">
							<div class="chargement" />
						</div>
						<img id="image" :src="definirLienFichier(pad.id, media)" :alt="definirNomLienFichier(media)" v-show="!chargementMedia" v-if="type === 'image'">
						<img id="image" :src="media" :alt="definirNomLienFichier(media)" v-show="!chargementMedia" v-else-if="type === 'lien-image'">
						<audio id="audio" controls :src="media" v-show="!chargementMedia" v-else-if="type === 'enregistrement'" />
						<audio id="audio" controls :src="definirLienFichier(pad.id, media)" v-show="!chargementMedia" v-else-if="type === 'audio'" />
						<video id="video" controls playsinline crossOrigin="anonymous" :src="definirLienFichier(pad.id, media)" v-show="!chargementMedia" v-else-if="type === 'video'" />
						<iframe id="document" :src="'/pdfjs/web/viewer.html?file=' + definirLienFichierHote(pad.id, media)" allowfullscreen v-show="!chargementMedia" v-else-if="type === 'pdf'" />
						<iframe id="document" :src="visionneuseDocx + definirLienFichierHote(pad.id, media)" allowfullscreen v-show="!chargementMedia" v-else-if="(type === 'office' || type === 'document') && visionneuseDocx !== ''" />
						<a id="lien" :href="media" target="_blank" v-show="!chargementMedia" v-else-if="type === 'lien'">
							<span class="type">{{ $t('lienExterne') }}</span>
							<span class="nom">{{ definirNomFichier(media) }}</span>
							<span class="icone"><i class="material-icons">link</i></span>
						</a>
						<a id="fichier" :href="definirLienFichier(pad.id, media)" download v-show="!chargementMedia" v-else>
							<span class="type">{{ definirExtensionFichier(media) }}</span>
							<span class="nom">{{ definirNomFichier(media) }}</span>
							<span class="icone"><i class="material-icons">attachment</i></span>
						</a>
						<div class="action">
							<span class="bouton supprimer" role="button" :tabindex="definirTabIndexModale()" @click="supprimerFichier" @keydown.enter="supprimerFichier" v-if="!chargementMedia">{{ $t('supprimer') }}</span>
						</div>
					</div>
					<div id="recherche" v-if="pad.liens === 'actives' && !chargementLien && Object.keys(resultats).length > 0 && media === ''">
						<div id="resultats">
							<div class="item" role="button" :tabindex="definirTabIndexModale()" :data-w="resultat.previewWidth" :data-h="resultat.previewHeight" v-for="(resultat, index) in resultats.hits" @click="selectionnerImage(resultat.previewURL.replace('_150', '_1280'))" @keydown.enter="selectionnerImage(resultat.previewURL.replace('_150', '_1280'))" :key="'image_' + index">
								<img :src="resultat.previewURL" :alt="definirNomLienFichier(resultat.previewURL)">
							</div>
						</div>
						<div id="navigation" v-if="page > 1 || page < (resultats.total / 16)">
							<span role="button" :tabindex="definirTabIndexModale()" :class="{'invisible': page < 2}" @click="modifierPage('precedente')" @keydown.enter="modifierPage('precedente')">{{ $t('pagePrecedente') }}</span>
							<span role="button" :tabindex="definirTabIndexModale()" :class="{'invisible': page >= (resultats.total / 16)}" @click="modifierPage('suivante')" @keydown.enter="modifierPage('suivante')">{{ $t('pageSuivante') }}</span>
						</div>
					</div>
					<label v-if="type !== 'image' && type !== 'lien-image' && media !== ''">{{ $t('vignette') }}</label>
					<div id="vignette" v-if="progressionVignette === 0 && type !== 'image' && type !== 'lien-image' && media !== ''">
						<img :src="definirLienVignette(pad.id, vignette)" :alt="definirNomLienFichier(vignette)" v-if="!chargementVignette">
						<div class="conteneur-chargement" v-else>
							<div class="chargement" />
						</div>
					</div>
					<div class="televerser vignette" v-if="type !== 'image' && type !== 'lien-image' && media !== ''">
						<label for="televerser-vignette" class="bouton" role="button" :tabindex="definirTabIndexModale()" @keydown.enter="activerInput('televerser-vignette')" v-if="progressionVignette === 0">{{ $t('modifierVignette') }}</label>
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="remettreVignetteDefaut" v-if="progressionVignette === 0 && vignetteDefaut !== '' && vignette !== vignetteDefaut">{{ $t('remettreVignette') }}</span>
						<input id="televerser-vignette" type="file" style="display: none" accept=".jpg, .jpeg, .png, .gif" @change="ajouterVignette">
						<div class="conteneur-chargement progression" v-if="progressionVignette > 0">
							<progress class="barre-progression" max="100" :value="progressionVignette" />
							<div class="chargement" />
						</div>
					</div>

					<div class="valider" role="button" :tabindex="definirTabIndexModale()" :class="{'desactive': (titre === '' && texte === '' && media === '') || enregistrement}" @click="ajouterBloc" @keydown.enter="ajouterBloc" v-if="mode === 'creation'">{{ $t('valider') }}</div>
					<div class="valider" role="button" :tabindex="definirTabIndexModale()" :class="{'desactive': (titre === '' && texte === '' && media === '') || enregistrement}" @click="modifierBloc" @keydown.enter="modifierBloc" v-else-if="mode === 'edition'">{{ $t('valider') }}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'admins'">
		<div id="admins" class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ $t('adminsPad') }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleAdmins" @keydown.enter="fermerModaleAdmins"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<label>{{ $t('listeAdmins') }}</label>
					<div id="liste-admins" v-if="admins.length > 0">
						<div class="admin" v-for="(itemAdmin, indexAdmin) in admins">
							<span class="identifiant">{{ itemAdmin }}</span>
							<span class="supprimer" role="button" :tabindex="definirTabIndexModale()" :title="$t('supprimerAdmin')" @click="supprimerAdmin" @keydown.enter="supprimerAdmin"><i class="material-icons">close</i></span>
						</div>
					</div>
					<p class="vide" v-else>{{ $t('aucunAdmin') }}</p>
					<div id="ajouter-admin">
						<input type="text" :placeholder="$t('identifiantAdmin')" @keydown.enter="ajouterAdmin">
						<span class="icone" role="button" :tabindex="definirTabIndexModale()" :title="$t('ajouterAdmin')" @click="ajouterAdmin" @keydown.enter="ajouterAdmin"><i class="material-icons">person_add</i></span>
					</div>
					<div class="actions">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="modifierAdmins" @keydown.enter="modifierAdmins">{{ $t('valider') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'commentaires'">
		<div id="discussion" class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ $t('commentairesCapsule') }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleCommentaires" @keydown.enter="fermerModaleCommentaires"><i class="material-icons">close</i></span>
			</div>
			<ul class="commentaires ascenseur" tabindex="-1">
				<li :id="'commentaire-' + entreeCommentaire.id" :tabindex="definirTabIndexModale()" :class="{'edition': editionCommentaire && commentaireId === entreeCommentaire.id, 'focus': focusId === entreeCommentaire.id}" v-for="(entreeCommentaire, indexEntreeCommentaire) in commentaires" @focus="focusId = entreeCommentaire.id" :key="'commentaire_' + indexEntreeCommentaire">
					<span class="meta" :class="{'auteur': entreeCommentaire.identifiant === identifiant || admin}">{{ $t('par') }} {{ definirNom(entreeCommentaire) }}, {{ $formaterDateRelative(entreeCommentaire.date, langue) }}</span>
					<div class="action" v-if="entreeCommentaire.identifiant === identifiant || admin">
						<span role="button" :tabindex="definirTabIndexModale()" :title="$t('modifierCommentaire')" @click="afficherModifierCommentaire(entreeCommentaire.id, entreeCommentaire.texte)" @keydown.enter="afficherModifierCommentaire(entreeCommentaire.id, entreeCommentaire.texte)" v-if="commentaireId !== entreeCommentaire.id"><i class="material-icons">edit</i></span>
						<span role="button" :tabindex="definirTabIndexModale()" :title="$t('annuler')" @click="annulerModifierCommentaire" @keydown.enter="annulerModifierCommentaire" v-else-if="editionCommentaire && commentaireId === entreeCommentaire.id"><i class="material-icons">close</i></span>
						<span role="button" :tabindex="definirTabIndexModale()" :title="$t('supprimerCommentaire')" @click="afficherSupprimerCommentaire(entreeCommentaire.id)" @keydown.enter="afficherSupprimerCommentaire(entreeCommentaire.id)"><i class="material-icons">delete</i></span>
					</div>
					<div class="texte" v-if="(commentaireId !== entreeCommentaire.id) || (commentaireId === entreeCommentaire.id && modaleConfirmer)" v-html="entreeCommentaire.texte" />
					<div class="texte edition" v-else-if="editionCommentaire && commentaireId === entreeCommentaire.id">
						<div id="commentaire-modifie" :class="{'mobile': mobile === true }" />
						<button :tabindex="definirTabIndexModale()" :title="$t('publier')" @click="modifierCommentaire"><i class="material-icons">edit</i></button>
						<Emojis v-if="emojis === 'commentaire-modifie'" :type="emojis" :diaporama="modaleDiaporama" :tabindex="definirTabIndexModale()" @emoji="insererEmoji" />
					</div>
				</li>
				<li class="vide" v-if="commentaires.length === 0">
					{{ $t('aucunCommentaire') }}
				</li>
			</ul>
			<div class="ecrire-commentaire">
				<div id="commentaire" :class="{'mobile': mobile === true }" />
				<button :tabindex="definirTabIndexModale()" :title="$t('publier')" @click="envoyerCommentaire"><i class="material-icons">send</i></button>
				<Emojis v-if="emojis === 'commentaire'" :type="emojis" :diaporama="modaleDiaporama" :tabindex="definirTabIndexModale()" @emoji="insererEmoji" />
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'evaluations'">
		<div class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ $t('evaluerCapsule') }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleEvaluations" @keydown.enter="fermerModaleEvaluations"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<label>{{ $t('monEvaluation') }}</label>
					<div class="section-etoiles">
						<span class="etoiles" v-if="evaluation === 0">
							<i class="material-icons" role="button" :tabindex="definirTabIndexModale()" @click="evaluation = 1" @keydown.enter="evaluation = 1">star_outline</i>
							<i class="material-icons" role="button" :tabindex="definirTabIndexModale()" @click="evaluation = 2" @keydown.enter="evaluation = 2">star_outline</i>
							<i class="material-icons" role="button" :tabindex="definirTabIndexModale()" @click="evaluation = 3" @keydown.enter="evaluation = 3">star_outline</i>
							<i class="material-icons" role="button" :tabindex="definirTabIndexModale()" @click="evaluation = 4" @keydown.enter="evaluation = 4">star_outline</i>
							<i class="material-icons" role="button" :tabindex="definirTabIndexModale()" @click="evaluation = 5" @keydown.enter="evaluation = 5">star_outline</i>
						</span>
						<span class="etoiles" v-else>
							<i class="material-icons selectionne" role="button" :tabindex="definirTabIndexModale()" v-for="etoile in evaluation" @click="evaluation = etoile" @keydown.enter="evaluation = etoile" :key="'etoilepleine_' + etoile">star</i>
							<i class="material-icons" role="button" :tabindex="definirTabIndexModale()" v-for="etoile in (5 - evaluation)" @click="evaluation = (evaluation + etoile)" @keydown.enter="evaluation = (evaluation + etoile)" :key="'etoilevide_' + etoile">star_outline</i>
						</span>
						<i class="material-icons annuler" role="button" :tabindex="definirTabIndexModale()" @click="evaluation = 0" @keydown.enter="evaluation = 0" v-if="evaluation > 0">delete_forever</i>
					</div>
					<div class="actions">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="envoyerEvaluation" @keydown.enter="envoyerEvaluation" v-if="evaluations.map(function (e) { return e.identifiant }).indexOf(identifiant) === -1">{{ $t('valider') }}</span>
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="modifierEvaluation" @keydown.enter="modifierEvaluation" v-else>{{ $t('modifier') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'modifier-nom'">
		<div class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ $t('modifierNom') }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleModifierNom" @keydown.enter="fermerModaleModifierNom"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<label for="champ-nom">{{ $t('votreNom') }}</label>
					<input id="champ-nom" type="text" maxlength="48" :value="nomUtilisateur" @input="nomUtilisateur = $event.target.value" @keydown.enter="modifierNom">
					<div class="actions">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="modifierNom" @keydown.enter="modifierNom">{{ $t('valider') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'mot-de-passe' || modale === 'code-acces'">
		<div class="modale" role="dialog" v-if="modale === 'mot-de-passe'">
			<div class="en-tete">
				<span class="titre">{{ $t('motDePassePad') }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleMotDePasse" @keydown.enter="fermerModaleMotDePasse"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<label for="champ-motdepasse">{{ $t('motDePasse') }}</label>
					<div class="conteneur-motdepasse">
						<input id="champ-motdepasse" type="text" maxlength="48" :value="motDePasse" @input="motDePasse = $event.target.value" @keydown.enter="verifierMotDePasse" v-if="codeVisible">
						<input id="champ-motdepasse" type="password" maxlength="48" :value="motDePasse" @input="motDePasse = $event.target.value" @keydown.enter="verifierMotDePasse" v-else>
						<span class="icone" role="button" :tabindex="definirTabIndexModale()" :title="$t('masquerMotDePasse')" @click="masquerCodeAcces" @keydown.enter="masquerCodeAcces" v-if="codeVisible"><i class="material-icons">visibility_off</i></span>
						<span class="icone" role="button" :tabindex="definirTabIndexModale()" :title="$t('afficherMotDePasse')" @click="afficherCodeAcces" @keydown.enter="afficherCodeAcces" v-else><i class="material-icons">visibility</i></span>
					</div>
					<div class="actions">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="verifierMotDePasse" @keydown.enter="verifierMotDePasse">{{ $t('valider') }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="modale" role="dialog" v-else-if="modale === 'code-acces'">
			<div class="en-tete">
				<span class="titre">{{ $t('padProtegeCodeAcces') }}</span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<label for="champ-code">{{ $t('codeAcces') }}</label>
					<div class="conteneur-code-acces">
						<input id="champ-code" type="text" maxlength="18" :value="codeAcces" @input="codeAcces = $event.target.value" @keydown.enter="verifierCodeAcces" v-if="codeVisible">
						<input id="champ-code" type="password" maxlength="18" :value="codeAcces" @input="codeAcces = $event.target.value" @keydown.enter="verifierCodeAcces" v-else>
						<span class="icone" role="button" :tabindex="definirTabIndexModale()" :title="$t('masquerCode')" @click="masquerCodeAcces" @keydown.enter="masquerCodeAcces" v-if="codeVisible"><i class="material-icons">visibility_off</i></span>
						<span class="icone" role="button" :tabindex="definirTabIndexModale()" :title="$t('afficherCode')" @click="afficherCodeAcces" @keydown.enter="afficherCodeAcces" v-else><i class="material-icons">visibility</i></span>
					</div>
					<div class="actions">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="verifierCodeAcces" @keydown.enter="verifierCodeAcces">{{ $t('valider') }}</span>
					</div>
					<div class="connexion" role="button" :tabindex="definirTabIndexModale()" @click="afficherModaleMotDePasse" @keydown.enter="afficherModaleMotDePasse" v-if="pad.hasOwnProperty('motdepasse')" v-html="$t('proprietairePad')" />
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'modifier-mot-de-passe'">
		<div id="motdepasse" class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ $t('modifierMotDePassePad') }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleModifierMotDePasse" @keydown.enter="fermerModaleModifierMotDePasse"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<label for="champ-motdepasse-actuel">{{ $t('motDePasseActuel') }}</label>
					<input id="champ-motdepasse-actuel" type="text" maxlength="48" :value="motDePasse" @input="motDePasse = $event.target.value">
					<label for="champ-nouveau-motdepasse">{{ $t('nouveauMotDePasse') }}</label>
					<input id="champ-nouveau-motdepasse" type="text" maxlength="48" :value="nouveauMotDePasse" @input="nouveauMotDePasse = $event.target.value" @keydown.enter="modifierMotDePasse">
					<div class="actions">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="modifierMotDePasse" @keydown.enter="modifierMotDePasse">{{ $t('modifier') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'copier-bloc'">
		<div class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ $t('copierCapsule') }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModaleCopieBloc" @keydown.enter="fermerModaleCopieBloc"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<label>{{ $t('capsuleACopier') }} {{ titre }}</label>
					<label for="pad-destination">{{ $t('padDestination') }}</label>
					<select id="pad-destination" @change="padDestination = $event.target.value" v-if="donneesUtilisateur.padsCrees.length > 0 || donneesUtilisateur.padsAdmins.length > 0">
						<option value="">-</option>
						<option v-for="(item, indexItem) in donneesUtilisateur.padsCrees" :value="item.id" :key="'pad_cree_' + indexItem">{{ item.titre }}</option>
						<option v-for="(item, indexItem) in donneesUtilisateur.padsAdmins" :value="item.id" :key="'pad_admin_' + indexItem">{{ item.titre }} ({{ $t('coadmin') }})</option>
					</select>
					<div class="vide" v-else>{{ $t('aucunPadDestination') }}</div>
					<label for="colonne-destination" v-if="verifierColonnesDestination() === true && padDestination !== ''">{{ $t('colonneDestination') }}</label>
					<select id="colonne-destination" @change="colonneDestination = $event.target.value" v-if="verifierColonnesDestination() === true && padDestination !== ''">
						<option value="">-</option>
						<option v-for="(item, indexItem) in definirNombreColonnesDestination()" :value="indexItem" :key="'colonne_' + item">{{ item }}</option>
					</select>
					<div class="actions">
						<span class="bouton" role="button" :tabindex="definirTabIndexModale()" @click="envoyerBloc" @keydown.enter="envoyerBloc">{{ $t('valider') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-else-if="modale === 'code-qr'">
		<div id="codeqr" class="modale" role="dialog">
			<div class="en-tete">
				<span class="titre">{{ $t('codeQR') }}</span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModale()" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
			</div>
			<div class="conteneur">
				<div class="contenu">
					<div id="qr" />
				</div>
			</div>
		</div>
	</div>

	<div class="conteneur-modale" v-if="modaleDiaporama">
		<div id="diapositive" class="modale-diapositive" :class="{'privee': donneesBloc.visibilite === 'privee'}" :style="{'border-color': donneesBloc.couleur}" role="dialog" v-show="!chargement">
			<div class="en-tete">
				<span class="titre"><span>{{ donneesBloc.titre }}</span> <span>{{ $t('par') }} {{ definirNom(donneesBloc) }}</span></span>
				<span class="fermer" role="button" :tabindex="definirTabIndexModaleDiaporama()" @click="fermerModaleDiaporama" @keydown.enter="fermerModaleDiaporama"><i class="material-icons">close</i></span>
			</div>
			<div class="contenu ascenseur" tabindex="-1" :class="{'vide': donneesBloc.texte === '' && donneesBloc.media === '' && pad.evaluations === 'desactivees' && pad.commentaires === 'desactives' && ((pad.contributions !== 'moderees') || (pad.contributions === 'moderees' && donneesBloc.visibilite === 'visible'))}">
				<div class="conteneur conteneur-texte" v-if="donneesBloc.texte !== ''">
					<div class="texte" v-html="donneesBloc.texte" />
				</div>
				<div class="conteneur conteneur-media" v-if="donneesBloc.media !== ''">
					<div class="media" v-if="donneesBloc.iframe === ''">
						<img :src="definirCheminFichiers() + '/' + pad.id + '/' + donneesBloc.media" :alt="definirNomLienFichier(donneesBloc.media)" v-if="donneesBloc.type === 'image'">
						<img :src="donneesBloc.media" :alt="definirNomLienFichier(donneesBloc.media)" v-else-if="donneesBloc.type === 'lien-image'">
						<audio controls :src="definirCheminFichiers() + '/' + pad.id + '/' + donneesBloc.media" v-else-if="donneesBloc.type === 'audio'" />
						<video controls playsinline crossOrigin="anonymous" :src="definirCheminFichiers() + '/' + pad.id + '/' + donneesBloc.media" v-else-if="donneesBloc.type === 'video'" />
						<iframe class="document" :src="'/pdfjs/web/viewer.html?file=' + definirCheminFichiersHote() + '/' + pad.id + '/' + donneesBloc.media" allowfullscreen v-else-if="donneesBloc.type === 'pdf'" />
						<iframe class="document" :src="visionneuseDocx + definirCheminFichiersHote() + '/' + pad.id + '/' + donneesBloc.media" allowfullscreen v-else-if="(donneesBloc.type === 'office' || donneesBloc.type === 'document') && visionneuseDocx !== ''" />
						<span v-else-if="donneesBloc.type === 'lien'">
							<a :href="donneesBloc.media" target="_blank">
								<img :src="definirLienVignette(pad.id, donneesBloc.vignette)" :alt="definirNomLienFichier(donneesBloc.vignette)" v-if="donneesBloc.vignette && donneesBloc.vignette !== ''">
								<img src="/img/lien.png" alt="lien.png" v-else>
							</a>
						</span>
						<span v-else>
							<a :href="definirCheminFichiers() + '/' + pad.id + '/' + donneesBloc.media" download>
								<img :src="definirLienVignette(pad.id, donneesBloc.vignette)" :alt="definirNomLienFichier(donneesBloc.vignette)" v-if="donneesBloc.vignette && donneesBloc.vignette !== ''">
								<img src="/img/telechargement.png" alt="telechargement.png" v-else>
							</a>
						</span>
					</div>
					<div class="media" :class="definirTypeMedia()" v-else>
						<div class="conteneur-iframe">
							<iframe :src="donneesBloc.iframe" allow="autoplay; fullscreen" v-if="verifierURL(donneesBloc.iframe) === true" />
							<div class="html" v-else v-html="donneesBloc.iframe" />
						</div>
					</div>
				</div>
				<div class="conteneur conteneur-moderation" v-if="donneesBloc.visibilite === 'privee' && admin">
					<span class="bouton" role="button" :tabindex="definirTabIndexModaleDiaporama()" @click="autoriserBloc(donneesBloc, 'privee')" @keydown.enter="autoriserBloc(donneesBloc, 'privee')">{{ $t('afficherCapsule') }}</span>
				</div>
				<div class="conteneur conteneur-moderation" v-else-if="pad.contributions === 'moderees' && donneesBloc.visibilite === 'masquee'">
					<span class="bouton" role="button" :tabindex="definirTabIndexModaleDiaporama()" @click="autoriserBloc(donneesBloc, 'moderee')" @keydown.enter="autoriserBloc(donneesBloc, 'moderee')" v-if="admin">{{ $t('validerCapsule') }}</span>
					<span class="bouton" v-else-if="donneesBloc.identifiant === identifiant">{{ $t('enAttenteModeration') }}</span>
				</div>
				<div class="conteneur conteneur-evaluations" v-if="pad.evaluations === 'activees'">
					<label>{{ $t('evaluations') }}</label>
					<div class="evaluation">
						<span class="etoiles">
							<i class="material-icons" :class="{'evalue': verifierUtilisateurEvaluation(donneesBloc.evaluations) === true}" v-for="etoile in definirEvaluationCapsule(donneesBloc.evaluations)" :key="'etoilepleine_' + etoile">star</i>
							<i class="material-icons" :class="{'evalue': verifierUtilisateurEvaluation(donneesBloc.evaluations) === true}" v-for="etoile in (5 - definirEvaluationCapsule(donneesBloc.evaluations))" :key="'etoilevide_' + etoile">star_outline</i>
							<span>({{ donneesBloc.evaluations.length }})</span>
						</span>
						<span class="bouton" role="button" :tabindex="definirTabIndexModaleDiaporama()" :title="$t('evaluerCapsule')" :style="{'color': couleur}" @click="ouvrirModaleEvaluations(donneesBloc.bloc, donneesBloc.titre, '')" @keydown.enter="ouvrirModaleEvaluations(donneesBloc.bloc, donneesBloc.titre, '')" v-if="verifierUtilisateurEvaluation(donneesBloc.evaluations) === false"><i class="material-icons">add_comment</i></span>
						<span class="bouton" role="button" :tabindex="definirTabIndexModaleDiaporama()" :title="$t('evaluerCapsule')" :style="{'color': couleur}" @click="ouvrirModaleEvaluations(donneesBloc.bloc, donneesBloc.titre, donneesBloc.evaluations)" @keydown.enter="ouvrirModaleEvaluations(donneesBloc.bloc, donneesBloc.titre, donneesBloc.evaluations)" v-else><i class="material-icons">rate_review</i></span>
					</div>
				</div>
				<div class="conteneur conteneur-commentaires" v-if="pad.commentaires === 'actives'">
					<label>{{ $t('commentaires') }}</label>
					<ul class="commentaires" v-if="commentaires.length > 0">
						<li :id="'commentaire-' + entreeCommentaire.id" :tabindex="definirTabIndexModaleDiaporama()" :class="{'edition': editionCommentaire && commentaireId === entreeCommentaire.id, 'focus': focusId === entreeCommentaire.id}" v-for="(entreeCommentaire, indexEntreeCommentaire) in commentaires" @focus="focusId = entreeCommentaire.id" :key="'commentaire_' + indexEntreeCommentaire">
							<span class="meta" :class="{'auteur': entreeCommentaire.identifiant === identifiant || admin}">{{ $t('par') }} {{ definirNom(entreeCommentaire) }}, {{ $formaterDateRelative(entreeCommentaire.date, langue) }}</span>
							<div class="action" v-if="entreeCommentaire.identifiant === identifiant || admin">
								<span role="button" :tabindex="definirTabIndexModaleDiaporama()" :title="$t('modifierCommentaire')" @click="afficherModifierCommentaire(entreeCommentaire.id, entreeCommentaire.texte)" @keydown.enter="afficherModifierCommentaire(entreeCommentaire.id, entreeCommentaire.texte)" v-if="commentaireId !== entreeCommentaire.id"><i class="material-icons">edit</i></span>
								<span role="button" :tabindex="definirTabIndexModaleDiaporama()" :title="$t('annuler')" @click="annulerModifierCommentaire" @keydown.enter="annulerModifierCommentaire" v-else-if="editionCommentaire && commentaireId === entreeCommentaire.id"><i class="material-icons">close</i></span>
								<span role="button" :tabindex="definirTabIndexModaleDiaporama()" :title="$t('supprimerCommentaire')" @click="afficherSupprimerCommentaire(entreeCommentaire.id)" @keydown.enter="afficherSupprimerCommentaire(entreeCommentaire.id)"><i class="material-icons">delete</i></span>
							</div>
							<div class="texte" v-if="(commentaireId !== entreeCommentaire.id) || (commentaireId === entreeCommentaire.id && modaleConfirmer)" v-html="entreeCommentaire.texte" />
							<div class="texte edition" v-else-if="editionCommentaire && commentaireId === entreeCommentaire.id">
								<div id="commentaire-modifie" :class="{'mobile': mobile === true }" />
								<button :tabindex="definirTabIndexModaleDiaporama()" :title="$t('publier')" @click="modifierCommentaire"><i class="material-icons">edit</i></button>
								<Emojis v-if="emojis === 'commentaire-modifie'" :type="emojis" :diaporama="modaleDiaporama" :tabindex="definirTabIndexModaleDiaporama()" @emoji="insererEmoji" />
							</div>
						</li>
					</ul>
					<div class="vide" v-else>
						{{ $t('aucunCommentaire') }}
					</div>
					<div class="ecrire-commentaire">
						<div id="commentaire" :class="{'mobile': mobile === true }" />
						<button :tabindex="definirTabIndexModaleDiaporama()" :title="$t('publier')" @click="envoyerCommentaire"><i class="material-icons">send</i></button>
						<Emojis v-if="emojis === 'commentaire'" :type="emojis" :diaporama="modaleDiaporama" :tabindex="definirTabIndexModaleDiaporama()" @emoji="insererEmoji" />
					</div>
				</div>
			</div>
		</div>
		<span id="precedent" role="button" :tabindex="definirTabIndexModaleDiaporama()" v-if="blocs.length > 1" @click="afficherBlocPrecedent" @keydown.enter="afficherBlocPrecedent"><i class="material-icons">arrow_back</i></span>
		<span id="suivant" role="button" :tabindex="definirTabIndexModaleDiaporama()" v-if="blocs.length > 1" @click="afficherBlocSuivant" @keydown.enter="afficherBlocSuivant"><i class="material-icons">arrow_forward</i></span>
	</div>

	<div class="conteneur-modale" v-if="transcodage || progressionEnregistrement">
		<div id="transcodage" class="modale" role="dialog">
			<div class="conteneur">
				<div class="contenu">
					<div class="conteneur-chargement">
						<div class="chargement" />
					</div>
					<span class="patienter">{{ $t('transcodage') }}</span>
				</div>
			</div>
		</div>
	</div>

	<div id="conteneur-message" class="conteneur-modale" v-if="modaleConfirmer">
		<div class="modale" role="dialog">
			<div class="conteneur">
				<div class="contenu">
					<div class="message" v-html="messageConfirmation" />
					<div class="actions">
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModaleConfirmer" @keydown.enter="fermerModaleConfirmer">{{ $t('non') }}</span>
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerBloc" @keydown.enter="supprimerBloc" v-if="typeConfirmation === 'supprimer-bloc'">{{ $t('oui') }}</span>
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerColonne" @keydown.enter="supprimerColonne" v-if="typeConfirmation === 'supprimer-colonne'">{{ $t('oui') }}</span>
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerCommentaire" @keydown.enter="supprimerCommentaire" v-if="typeConfirmation === 'supprimer-commentaire'">{{ $t('oui') }}</span>
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="seDeconnecterPad" @keydown.enter="seDeconnecterPad" v-if="typeConfirmation === 'deconnecter-pad'">{{ $t('oui') }}</span>
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerPad" @keydown.enter="supprimerPad" v-if="typeConfirmation === 'supprimer-pad'">{{ $t('oui') }}</span>
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="reinitialiserMessages" @keydown.enter="reinitialiserMessages" v-else-if="typeConfirmation === 'reinitialiser-messages'">{{ $t('oui') }}</span>
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="reinitialiserActivite" @keydown.enter="reinitialiserActivite" v-else-if="typeConfirmation === 'reinitialiser-activite'">{{ $t('oui') }}</span>
						<span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="exporterPad" @keydown.enter="exporterPad" v-else-if="typeConfirmation === 'exporter-pad'">{{ $t('oui') }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="masque" />

	<Notification :notification="notification" @fermer="notification = ''" v-if="notification !== ''" />

    <Message :message="message" @elementPrecedent="definirElementPrecedent" @fermer="fermerMessage" v-if="message !== ''" />

    <Chargement v-if="chargement" />

    <ChargementPage v-if="chargementPage" />
</div>
